@import "bootstrap-sprockets";
@import "bootstrap";
@import "normalize";

body, html {
  width: 100% !important;
  height: 100% !important;
  font-family: Arial, Tahoma, sans-serif;
}

body {
  height: 100%;
  background: -webkit-linear-gradient(90deg,  #a90329 10%, #6d0019 90%);
  background:    -moz-linear-gradient(90deg,  #a90329 10%, #6d0019 90%);
  background:     -ms-linear-gradient(90deg,  #a90329 10%, #6d0019 90%);
  background:      -o-linear-gradient(90deg,  #a90329 10%, #6d0019 90%);
  background:         linear-gradient(90deg,  #a90329 10%, #6d0019 90%);
  font-family: 'Lato', sans-serif;
}

.review_title {
  margin: 0 0 20px 0;
}
.reviews {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-rating {
    padding-bottom: 8px;
  }
}