!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MoviewReview
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    =render 'layouts/header'
    .container
      %main
        -flash.each do |name, message|
          =content_tag(:div, message, class: "alert alert-info")
        = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
